#login {

  .icon {
    display: flex;
    font-size: 25px;
    color: gray;
    justify-content: center;
    margin-top: 0.5em;
  }

  .welcome {
    display: flex;
    justify-content: center;
    color: grey;
    text-align: center;
  }
}
